{% extends 'base.html' %}
{% load static %}
{%block title%}Login Administrador{%endblock title%}
{% block conteudo %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-9">Login do Adm</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="cpf" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="cpf" name="cpf" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
                
                {% if incorrect_login %}
                <div>
                Usuário ou senha inválidos! Você possui cadastro em nosso site?
                </div>
                {% endif %}
                

                <button type="submit" href="/vision_admin" class="btn btn-primary">Acessar</button>
            </form>
        </div>
    </div>
</div>
{% endblock conteudo %}