{% extends 'base.html' %}
{% load static %}
{%block title%}Sobre nós{% endblock title%}
{% block conteudo %}

<div class="mt-6">
    <div class="card " style="width: 18rem;">
        <img src="{% static 'cani.png' %}" class="card-img-top" alt="Cartão Boas-Vindas">
        <div class="card-body">
            <h5 class="card-title">Cadastro fácil no RU - UFMT</h5>
            <p class="card-text">Crie o seu cadastro, acompanhe e verifique as demandas.
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-dark" href="/login_user">Verificar a solicitação</button>
            <button type="button"class="btn btn-outline-dark" href="/login_user">Enviar solicitação</button>
        </div>
    </div>
</div>

{% endblock conteudo %}