{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<div class="row m-3">
    {% for negado in negados %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-1">
                    <img src="{% static 'usuario.jpg' %}" alt="Descrição da imagem" class="img-fluid img-fluid rounded-circle" >
                </div>
                <div class="col-md-5">
                    <div class="mb-1 fw-bold">{{estudante.user.first_name}}</div>
                    <div class="mb-1 fw-light">{{estudante.user.date_of_registration}}</div>
                    <div class="mb-1">{{estudante.get_campus_display}} - {{estudante.get_curso_display}}</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-20 d-flex justify-content-end">
                    <a href="#" class="btn btn-primary">Visualizar</a>
                    <a href="#" class="btn btn-success">APROVAR</a>
                    <a href="#" class="btn btn-danger">NEGAR</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock conteudo %}