{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo.png' %}" width="50" height="56" class="d-inline-block align-text-top-center">
            </a>
        </div>
    </nav>
    <nav style="background-color:black" class="navbar navbar-light ">
        <div class="justify-content-mt-end">
            <a class="btn btn-outline-secondary btn-sm" href="/plataform"> Ir para Página Inicial </a>
            <a class="btn btn-outline-danger btn-sm" href="/logout"> Logout </a>
        </div>
    </nav>

    <div class="row m-3">

        <div class="card" style="width: 18rem;">
            <img src="{% static 'icon_card.jpg' %}" width="200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">  {{user.first_name}} </h5>
                <p class="card-text"><strong>Nº DE SÉRIE:</strong>123458928451</p>
            </div>
        </div>



        <div class="col">
            <main class="container mt-3">
                <h3> Dados do Usuário </h3>
                <div class="mb-1 fw-light fst-italic"><strong>CAMPUS E CURSO: </strong>{{estudante.get_campus_display}} - {{estudante.get_curso_display}}</div>


                <div class="mb-1 fw-light"><strong>NOME DA MÃE: </strong>{{estudante.mae}}</div>
                <div class="mb-1 fw-light"><strong>CPF: </strong>{{estudante.cpf}}</div>
                <div class="mb-1 fw-light"><strong>RG: </strong>{{estudante.rg}}</div>
                <div class="mb-1 fw-light"><strong>EMAIL: </strong>{{user.email}}</div>

            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>