{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página do aluno</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'saci.png' %}" type="image/x-icon">
    <style>
        .card {
            border: 1px solid black;
            border-radius: 0;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px 0;
        }

        .message-container {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: rgba(255, 0, 0, 0.2);
            padding: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }

        .message-container img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo.png' %}" width="50" height="56" class="d-inline-block align-text-top-center">
            </a>
        </div>
    </nav>
    <nav style="background-color:black" class="navbar navbar-light ">
        <div class="justify-content-mt-end">
            <a class="btn btn-outline-secondary btn-sm" href="/plataform"> Ir para Página Inicial </a>
            <a class="btn btn-outline-danger btn-sm" href="/logout"> Logout </a>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <h3>Informações</h3>
                <div class="row mb-1">
                    <div class="col mb-2">
                        <div class="card" style="width: 12rem;">
                            <img src="{% static 'status.png' %}" width="200" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{estudante.get_status_display}}</h5>
                                <p class="card-text"><strong>Nº DE SÉRIE:</strong>123458928451</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 12rem;">
                            <img src="{% static 'usuariio.png' %}" width="200" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> {{user.first_name}} </h5>
                                <p class="card-text"><strong>Nº DE SÉRIE:</strong>123458928451</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-2">
                <h3>Detalhes do Usuário</h3>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{user.first_name}}</h3>
                        <div class="mb-1 fw-light fst-italic"><strong>CAMPUS E CURSO:
                            </strong>{{estudante.get_campus_display}}
                            - {{estudante.get_curso_display}}</div>
                        <div class="mb-1 fw-light"><strong>NOME DA MÃE: </strong>{{estudante.mae}}</div>
                        <div class="mb-1 fw-light"><strong>CPF: </strong>{{estudante.cpf}}</div>
                        <div class="mb-1 fw-light"><strong>RG: </strong>{{estudante.rg}}</div>
                        <div class="mb-1 fw-light"><strong>EMAIL: </strong>{{user.email}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="text-muted">© 2022 Salt.com. Todos os direitos reservados.</span>
                </div>
                <a href="/table" class="btn btn-link">Sobre Nós</a>
            </div>
        </div>
    </footer>

    <div id="flutuante"
        style="position: fixed; top: 20px; right: 20px; background-color: #f8d7da; color: #721c24; padding: 20px; border: 1px solid #f5c6cb; border-radius: 5px; z-index: 9999;">
        <span onclick="this.parentNode.style.display = 'none';"
            style="position: absolute; top: 5px; right: 10px; cursor: pointer;">X</span>
        <h2><span style="font-size: 32px">&#128577;</span> Cadastro negado?</h2>
        <p>Clique aqui para reenviar: <a href="/recad">reenviar</a></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>