{% extends 'base.html' %}
{% block title %} Visualização {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="/vision_admin" class="btn btn-secondary btn-sm">Voltar</a>
            <p>Usuário:</p>
            <h1 class="mb-4" style="font-family: 'Arial', sans-serif;"><strong> {{estudante.user.first_name}}</strong>
            </h1>
            <p>ID: {{user.id }}</p>
            <div class="mb-3">
                <label for="nomecompleto" class="form-label">Nome Completo:</label>
                <input type="text" class="form-control" id="nomecompleto" value=" {{estudante.user.first_name}}"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="nomemae" class="form-label">Nome da mãe:</label>
                <input type="text" class="form-control" id="nomecompleto" value=" {{estudante.mae}}"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="text" class="form-control" id="cpf" value="{{ estudante.cpf }}" readonly>
            </div>
            <div class="mb-3">
                <label for="rg" class="form-label">RG:</label>
                <input type="text" class="form-control" id="rg" value="{{ estudante.rg }}" readonly>
            </div>
            <div class="mb-3">
                <label for="instituicao" class="form-label">Instituição e Campus:</label>
                <input type="text" class="form-control" id="instituicao" value="{{estudante.get_campus_display}}"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="curso" class="form-label">Curso:</label>
                <input type="text" class="form-control" id="curso" value="{{estudante.get_curso_display}}" readonly>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" value="{{ estudante.email }}" readonly>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">FOTO DO RG:</label>
                <a href="{{estudante.imgrg.url}}"  target="_blank" alt="Descrição da imagem">clique para abrir em outra aba</a>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">FOTO DO COMPROVANTE DE MATRÍCULA:</label>
                <a href="{{estudante.imgcomp.url}}"  target="_blank" alt="Descrição da imagem">clique para abrir em outra aba</a>
            </div>
            <div class="row mt-3">
                <div class="col-md-20 d-flex justify-content-end">
                    <a href="/vision_admin" class="btn btn-primary">Voltar</a>
                    <a href="/aprovar/{{estudante.id}}" class="btn btn-success">APROVAR</a>
                    <a href="/negar/{{estudante.id}}" class="btn btn-danger">NEGAR</a>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}